{% extends 'layout.html' %} {% block content %}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(static/images/emali-view.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
                <div class="col-md-6 text p-4 ftco-animate">
                    <h1 class="mb-3">Emali View</h1>
                    <span class="location d-block mb-3"><i class="icon-my_location"></i> Makueni, Area 5445</span>
                    <p>Emali View is an investment opportunity by the Wealthsmith Limited on the outskirts of Emali township along Mombasa Road.</p>
                    <span class="price">ksh. 399,000</span>
                    <a href="#" class="btn-custom p-3 px-4 bg-danger">View Details <span class="icon-plus ml-1"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image:url(static/images/aksum.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
                <div class="col-md-6 text p-4 ftco-animate">
                    <h1 class="mb-3">Aksum</h1>
                    <span class="location d-block mb-3"><i class="icon-my_location"></i> Kitengela</span>
                    <p>Own a piece of elegance at Aksum by the Wealthsmith. A gated community with 17 units of 4 bedroom maisonettes in a cool serene environment in suburbs of Kitengela designed to suit the needs of the modern home owner with a touch of
                        nature.
                    </p>
                    <span class="price">ksh. 13,000,000</span>
                    <a href="#" class="btn-custom p-3 px-4 bg-danger">View Details <span class="icon-plus ml-1"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image:url(static/images/aksum.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
                <div class="col-md-6 text p-4 ftco-animate">
                    <h1 class="mb-3">Esian - Luxury meets living</h1>
                    <span class="location d-block mb-3"><i class="icon-my_location"></i> Nanyuki over looking Loldaiga Hills, Area
                        10890
                    </span>
                    <p>Esian Tented Camps is a picturesque, luxurious development of tented homes nestled in a canopy of indigenous trees.</p>
                    <span class="price">ksh. 4,500,000</span>
                    <a href="#" class="btn-custom p-3 px-4 bg-danger">View Details <span class="icon-plus ml-1"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image:url(static/images/amara-gardens.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
                <div class="col-md-6 text p-4 ftco-animate">
                    <h1 class="mb-3">Amara Gardens Holiday Homes</h1>
                    <span class="location d-block mb-3"><i class="icon-my_location"></i> Nanyuki, Area 21780 <br>Beds 5<br>Baths
            5</span>
                    <p>Enjoy exclusive and luxurious living at the plains of Nanyuki, at Amara Gardens. With only 20 units of ½ acre plots, your journey to being part of the select few in the gated community starts at Kes 1,500,000.</p>
                    <span class="price">ksh. 1,500,000</span>
                    <a href="#" class="btn-custom p-3 px-4 bg-danger">View Details <span class="icon-plus ml-1"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image:url(static/images/nanyuki-haven.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
                <div class="col-md-6 text p-4 ftco-animate">
                    <h1 class="mb-3">Nanyuki Haven</h1>
                    <span class="location d-block mb-3"><i class="icon-my_location"></i> Nanyuki, Area 5445 </span>
                    <p>Launched in 2017, Nanyuki Haven plots are located in an already developed area, easily accessible and with breathtaking views of Mt Kenya , the rolling Loldaiga Hills and the Aberdare Ranges.</p>
                    <span class="price">ksh. 229,000 For 1/8th Acre Plot</span>
                    <a href="#" class="btn-custom p-3 px-4 bg-danger">View Details <span class="icon-plus ml-1"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image:url(static/images/water-front.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-md-end align-items-center justify-content-end">
                <div class="col-md-6 text p-4 ftco-animate">
                    <h1 class="mb-3">Waterfront Nanyuki</h1>
                    <span class="location d-block mb-3"><i class="icon-my_location"></i> Nanyuki, Area 5445 </span>
                    <p>Take advantage of our special offer in our latest high value project, Waterfront Nanyuki. Waterfront Nanyuki is located near River Ewaso Nyiro in an already developed neighborhood.
                    </p>
                    <span class="price">ksh. 229,000 For 1/8th Acre Plot</span>
                    <a href="#" class="btn-custom p-3 px-4 bg-danger">View Details <span class="icon-plus ml-1"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="search-sec">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Property Title">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                              <option>Location</option>
                              <option>Athi River</option>
                              <option>Isinya</option>
                              <option>Kitengela</option>
                              <option>Nairobi</option>
                              <option>Ngong</option>
                              <option>Nanyuki</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                              <option>Property Type</option>
                              <option>Apartment</option>
                              <option>Maisonette</option>
                              <option>Plot</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- properties section -->

<section class="properties bg-trans">
    <div class="container">
        <h1 class="text-center">LATEST PROPERTIES</h1>
        <div class="p-statement">
            <p>We offer investment-grade developments all over the Country. The developments we offer have been conceptualized by our development team to be high quality assets using a data-driven approach in planning and design, that gears property for
                high rental returns and an escalated rate of capital growth.</p>
        </div>
        <div class="row equal-height-columns mb-4">
            <div class="col-md-4 wow fadeInLeft">
                <div class="card mb-3 equal-column-content">
                    <img src="static/images/emali-view.jpg" class="card-img-top" alt="emali">
                    <div class="card-body">
                        <h5 class="card-title">Emali View</h5>
                        <p><i class="fa fa-map-marker"></i> Makueni</p>
                        <button class="btn btn-sm btn-success mb-4">sale</button>
                        <p class="card-text">ksh. 399,000</p>
                        <p class="card-text"><small class="text-muted">Area <br> 5445</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp">
                <div class="card mb-3 equal-column-content">
                    <img src="static/images/aksum.jpg" class="card-img-top" alt="aksum">
                    <div class="card-body">
                        <h5 class="card-title">Aksum</h5>
                        <p><i class="fa fa-map-marker"></i> Kitengela</p>
                        <button class="btn btn-sm btn-success mb-4">sale</button>
                        <p class="card-text">ksh. 13,000,000</p>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text"><small class="text-muted">Beds <br> 4</small></p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text"><small class="text-muted">Baths <br> 4</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInRight">
                <div class="card mb-3 equal-column-content">
                    <img src="static/images/esian.jpg" class="card-img-top" alt="esian">
                    <div class="card-body">
                        <h5 class="card-title">Esian-Luxury Meets Living</h5>
                        <p><i class="fa fa-map-marker"></i> Nanyuki over looking Loldaiga Hills</p>
                        <button class="btn btn-sm btn-success mb-4">sale</button>
                        <p class="card-text">ksh.4,500,000</p>
                        <p class="card-text"><small class="text-muted">Area <br> 10890</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 wow fadeInLeft">
                <div class="card mb-3 equal-column-content">
                    <img src="static/images/amara-gardens.jpg" class="card-img-top" alt="amara gardens">
                    <div class="card-body">
                        <h5 class="card-title">Amara Gardens Holiday Homes</h5>
                        <p><i class="fa fa-map-marker"></i> Nanyuki</p>
                        <button class="btn btn-sm btn-success mb-4">sale</button>
                        <p class="card-text">ksh. 1,500,000</p>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="card-text"><small class="text-muted">Area <br> 21780 </small></p>
                            </div>
                            <div class="col-md-4">
                                <p class="card-text"><small class="text-muted">Beds <br> 5 </small></p>
                            </div>
                            <div class="col-md-4">
                                <p class="card-text"><small class="text-muted">Baths <br> 5</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp">
                <div class="card mb-3 equal-column-content">
                    <img src="static/images/nanyuki-haven.jpg" class="card-img-top" alt="nanyuki haven">
                    <div class="card-body">
                        <h5 class="card-title">Nanyuki Haven</h5>
                        <p><i class="fa fa-map-marker"></i> Nanyuki</p>
                        <button class="btn btn-sm btn-success mb-4">sale</button>
                        <p class="card-text">ksh.229,000 For 1/8th Acre Plot</p>
                        <p class="card-text"><small class="text-muted">Area <br> 5445</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInRight">
                <div class="card mb-3 equal-column-content">
                    <img src="static/images/water-front.jpg" class="card-img-top" alt="Waterfront nanyuki">
                    <div class="card-body">
                        <h5 class="card-title">Waterfront Nanyuki</h5>
                        <p><i class="fa fa-map-marker"></i> Nanyuki</p>
                        <button class="btn btn-sm btn-success mb-4 mr-2">sale</button> <button class="btn btn-sm btn-danger mb-4">Featured</button>
                        <p class="card-text">ksh.229,000 For 1/8th Acre Plot</p>
                        <p class="card-text"><small class="text-muted">Area <br> 5445</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a class="btn btn-dark btn-lg mr-2" href="{{url_for('properties')}}">VIEW MORE PROJECTS</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>

<!-- end properties -->

<section class="ftco-section ftco-counter img" id="section-counter">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 text-center heading-section heading-section-white ftco-animate">
                <h1 class="mb-4">PORTFOLIO</h1>
            </div>
        </div>
        <div class="row justify-content-center equal-height-columns">
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center equal-column-content">
                    <div class="text">
                        <img src="static/images/projects.png" alt="projects">
                        <span class="sub-title">Projects</span>
                        <strong class="number" data-number="20">0</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center equal-column-content">
                    <div class="text">
                        <img src="static/images/sold-out.png" alt="sold out">
                        <span class="sub-title">Sold-Out Projects</span>
                        <strong class="number" data-number="6">0</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center equal-column-content">
                    <div class="text">
                        <img src="static/images/plots-sold.png" alt="plots sold">
                        <span class="sub-title">Plots Sold</span>
                        <strong class="number " data-number="1796 ">0</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate ">
                <div class="block-18 text-center equal-column-content">
                    <div class="text">
                        <img src="static/images/title-deeds.png" alt="title deeds">
                        <span class="sub-title">Title deeds Issued</span>
                        <strong class="number " data-number="1165 ">0</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- testimony -->

<section class="ftco-section testimony-section bg-light ">
    <h1 class="text-center">TESTIMONIALS</h1>
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-md-8 ftco-animate ">
                <div class="row ftco-animate ">
                    <div class="col-md-12 ">
                        <div class="carousel-testimony owl-carousel ftco-owl ">
                            <div class="item ">
                                <div class="testimony-wrap py-4 pb-5 ">
                                    <div class="user-img mb-4 " style="background-image: url(static/images/Irene-Gitau.jpg) ">
                                        <span class="quote d-flex align-items-center justify-content-center ">
                                            <i class="icon-quote-left "></i>
                                        </span>
                                    </div>
                                    <div class="text text-center ">
                                        <p class="name ">Irene Gitau</p>
                                        <p class="mb-4 ">For me it was love at first sight,I was so happy with how The Wealthsmith handled me from the word go and that's why I'm a platinum client today.I have invested in over 3 projects with The Wealthsmith Limited and I have never been a happier client.
                                        </p>
                                        <span class="position ">Client</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <div class="testimony-wrap py-4 pb-5 ">
                                    <div class="user-img mb-4 " style="background-image: url(static/images/Beatrice-Nyaruiru.jpg) ">
                                        <span class="quote d-flex align-items-center justify-content-center ">
                                            <i class="icon-quote-left "></i>
                                        </span>
                                    </div>
                                    <div class="text text-center ">
                                        <p class="mb-4 ">
                                            I contacted The Wealthsmith Limited in regards to Haven 2 project in Nanyuki.I was happy with the reception and how The Sales Rep responded to my questions.We had an awesome time when we visited the site and there and then I decided that was the right project for me.I am also even happier I have my Title deed with me as promised.
                                        </p>
                                        <p class="name ">Beatrice Nyaruiru</p>
                                        <span class="position ">Client</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <div class="testimony-wrap py-4 pb-5 ">
                                    <div class="user-img mb-4 " style="background-image: url(static/images/Morris-Rutere.jpg) ">
                                        <span class="quote d-flex align-items-center justify-content-center ">
                                            <i class="icon-quote-left "></i>
                                        </span>
                                    </div>
                                    <div class="text text-center ">
                                        <p class="mb-4 ">I am a proud land owner thanks to The Wealthsmith Limited.The best thing is they promised to process my Title deed in 90 days and they actually delivered it in less.Thank you so much The Wealthsmith Limited for making my investment dreams come true.
                                        </p>
                                        <p class="name ">Morris Rutere</p>
                                        <span class="position ">Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center ">
        <div class="container ">
            <div class="row d-flex justify-content-center ">
                <div class="col-md-7 text-center heading-section heading-section-black ftco-animate ">
                    <h1 class="text-center" style="font-family: sans-serif, 'poppins'; letter-spacing: 1.5px;">Subscribe to our Newsletter to get latest Property News</h1>
                    <div class="row d-flex justify-content-center mt-5 ">
                        <div class="col-md-8 ">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="you@example.com">
                                <span class="input-group-btn">
                                <button class="btn btn-theme" type="submit">Subscribe</button>
                                </span>
                                 </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}