{% extends 'layout.html' %} {% block content %}

<div id="register" class="register">
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6">
                <div class="content-section">
                    {% include '_messages.html' %}
                    <form method='POST' action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Create An Account</legend>
                            <div class="form-group">
                                {{ form.firstName.label(class="form-control-label") }} {% if form.firstName.errors %} {{ form.firstName(class="form-control is-invalid", placeholder = "Enter First Name") }}
                                <div class="invalid-feedback">
                                    {% for error in form.firstName.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.firstName(class="form-control", placeholder = "Enter First Name") }} {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.lastName.label(class="form-control-label") }} {% if form.lastName.errors %} {{ form.lastName(class="form-control is-invalid", placeholder = "Enter Last Name") }}
                                <div class="invalid-feedback">
                                    {% for error in form.lastName.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.lastName(class="form-control", placeholder = "Enter Last Name") }} {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label") }} {% if form.username.errors %} {{ form.username(class="form-control is-invalid", placeholder = "Enter Username") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.username(class="form-control", placeholder = "Enter Username") }} {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }} {% if form.email.errors %} {{ form.email(class="form-control is-invalid", placeholder = "you@example.com") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.email(class="form-control", placeholder = "you@example.com") }} {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.mobile_number.label(class="form-control-label") }} {% if form.mobile_number.errors %} {{ form.mobile_number(class="form-control is-invalid", placeholder = "Enter Mobile Number") }}
                                <div class="invalid-feedback">
                                    {% for error in form.mobile_number.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.mobile_number(class="form-control", placeholder = "Enter Mobile Number") }} {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label") }} {% if form.password.errors %} {{ form.password(class="form-control is-invalid", placeholder = "Enter Password") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.password(class="form-control", placeholder = "Enter Password") }} {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.confirm_password.label(class="form-control-label") }} {% if form.confirm_password.errors %} {{ form.confirm_password(class="form-control is-invalid", placeholder = "Enter Confirm Password") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{ form.confirm_password(class="form-control", placeholder = "Enter Confirm Password") }} {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.recaptcha(class="form-control") }} {% for error in form.recaptcha.errors %}
                                <span style="color:red;">{{ error }}</span> {% endfor %}
                            </div>
                        </fieldset>
                        <div class="form-group text-center">
                            {{ form.submit(class="btn btn-outline-danger") }}
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
        <div class="border-top pt-3 pb-3 text-center">
            <small class="text-muted">
                Already Have An Account?, <a class="ml-2" href="{{ url_for('login') }}"> login</a>
            </small>
        </div>
    </div>
</div>

{% endblock content %}